# Block npm from installing/updating any package version
# that was published less than 7 days ago.
# Reduces risk from freshly-published/compromised versions
# (require npm>=11.10.0)
min-release-age = 7